<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/formAdd.css" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <div style="display: flex; flex-direction: column; width: 250px">
        <input type="text" name="judul" />
        <textarea name="isi" cols="30" rows="8"></textarea>
        <div style="margin-top: 10px">
          <button type="submit">Batal</button>
          <a href="http://localhost:8080/notes">
            <button type="submit">Simpan</button>
          </a>
        </div>
      </div>
    </form>
  </body>
</html>
